###################################################################
# Alpaca Market API
###################################################################

# Once your account is created you can navigate to API/Devs page.
# Link to it is in sidebar
#
# You can find over there an endpoint
# as well as generate key and secret
#
# ALPACA_PROXY_API_HOST=broker-api.example.com
# ALPACA_PROXY_API_KEY=key
# ALPACA_PROXY_API_SECRET=secret
# Raises if host, key or secret is missing in prod runtime environment
#
# For local purposes for example testing using bypass dependency
# you can also specify optional port and scheme
#
# ALPACA_PROXY_API_PORT=4001
# ALPACA_PROXY_API_SCHEME=http

###################################################################
# Alpaca Proxy App
###################################################################

# It's recommended to set ALPACA_PROXY_FORCE_SSL in your environment,
# ensuring no data is ever sent via http, always redirecting to https:
#
# ALPACA_PROXY_FORCE_SSL=true
# Defaults to: false

# Host of proxy server
#
# ALPACA_PROXY_HOST=localhost
# Defaults to: localhost
# Raises if missing in prod runtime environment

# A port for handling HTTP requests
#
# ALPACA_PROXY_PORT=80
# Defaults to: 80 (prod) and 4000 (dev)

# Using releases
#
# If you use `mix release`, you need to explicitly enable the server
# by passing the ALPACA_PROXY_SERVER=true when you start it:
#
#     ALPACA_PROXY_SERVER=true bin/alpaca_proxy start
#
# Alternatively, you can use `mix phx.gen.release` to generate a `bin/server`
# script that automatically sets the env var above.
#
# ALPACA_PROXY_SERVER=true
# Defaults to: false

# The secret key base is used to sign/encrypt cookies and other secrets.
# A default value is used in config/dev.exs and config/test.exs but you
# want to use a different value for prod and you most likely don't want
# to check this value into version control, so we use an environment
# variable instead.
#
# You can generate one by calling: mix phx.gen.secret
#
# ALPACA_PROXY_SECRET_KEY_BASE=secret_key_base
# $ if missing in prod runtime environment

###################################################################
# Alpaca Proxy App SSL Support
###################################################################

# To get SSL working, you will need to set the SSL cert and key paths:
# in environment variables:
#
# ALPACA_PROXY_SSL_CERT_PATH and ALPACA_PROXY_SSL_KEY_PATH
# expect an absolute path to the key and cert in disk
# or a relative path inside priv, for example
# "priv/ssl/server.key". For all supported SSL configuration
# options, see https://hexdocs.pm/plug/Plug.SSL.html#configure/1
#
# ALPACA_PROXY_SSL_CERT_PATH=/path/to/ssl/cert/file
# ALPACA_PROXY_SSL_KEY_PATH=/path/to/ssl/key/file

# The ssl suite is set to strong to support only the
# latest and more secure SSL ciphers. This means old browsers
# and clients may not be supported. You can set it to
# compatible for wider support.
#
# ALPACA_PROXY_SSL_SUITE=compatible
# Defaults to: strong

# A port for handling HTTPS requests
# ALPACA_PROXY_SSL_PORT=443
# Defaults to: 443 (prod)
